<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <title>Веб-приложение</title>
    <link rel="stylesheet" href="./assets/styles.css" />
    <script src="https://unpkg.com/vue@3.0.0-beta.12/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="app">
      <div class="nav-bar"></div>
      <div class="cart">Корзина: {{ cart }}</div>
      <div class="product-display">
        <div class="product-container">
          <div class="product-image">
            <img :src="image" :alt="product" />
          </div>
          <div class="product-info">
            <h1>{{ product }}</h1>
            <a :href="url">{{ product }}</a>
            <p v-show="onSale">Распродажа!!!</p>
            <p v-if="inventory > 10">В наличии</p>
            <p v-else-if="inventory > 0 && inventory <= 10">
              Товар заканчивается
            </p>
            <p v-else>Товар закончился!</p>
            <ul>
              <li v-for="detail in details">{{ detail }}</li>
            </ul>
            <ul>
              <li v-for="size in sizes" class="li-sizes">{{ size }}</li>
            </ul>
            <div
              v-for="variant in variants"
              :key="variant.id"
              @mouseover="updateImage(variant.image)"
            >
              {{ variant.color}}
            </div>
            <button class="button" @click="addToCart">В корзину</button>
            <button class="button" @click="removeFromCart">Убрать</button>
          </div>
        </div>
      </div>
    </div>
    <script src="./main.js"></script>
  </body>
</html>
